.passenger-detail-container {
  width: 100%;
  background-color: #51696c;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
}
.passenger-detail-container:hover {
  background-color: #44595c;
}
.passenger-nic {
  font-size: 16px;
  color: white;
  font-weight: 500;
}
.passenger-name {
  font-size: 15px;
  color: white;
  font-weight: 400;
}
